$color-1: #EFEFEF; // grey
$color-2: #000000; // black
$color-3: #D40027; // Fire engine Red
$color-4: #260235; // violet
$color-5: #FFFFFF; // white
$color-6: #0D2867; // royal blue


// additional colors

$success: #6fce72; // green
$alert: $color-3; // red
