// breakpoints
$S:  20em;   
$M:  30em;     
$L:  60em;

// other variables
$mainpadding: 2em;

// media queries
@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

*, *:before, *:after {
	box-sizing: border-box;
  }

.page-wrapper {   
	margin: 0 auto; 
	max-width: 90%;
  display: grid;
  grid-template-columns: 1fr;
	grid-gap: 1em;

  @include MQ(L) {
    grid-template-columns: 2fr 1fr;
  }
}

header {
  height: 30em;
  padding: 20em $mainpadding 0;
}

.summary p:nth-child(2) {
  position: absolute;

  @include MQ(L) {
    top: 24em;
    left: 60%;
    text-align: right;
  }
}

.intro {
  @include MQ(L) {
	  grid-column: 1 / 3;
  }
}

.main {
  @include MQ(L) {
	grid-column: 1 / 2;
  }
}

.main div, .intro div {
  padding: $mainpadding;
}

.requirements {
	max-width: 90%;
	margin-top: 3em;
	margin-bottom: 1em;
  @include MQ(L) {
    position: absolute;
  }
}

footer {
  padding: $mainpadding;
  @include MQ(L) {
	position: relative;
  }
}	