/* -------------------------------- 
Main & SVGS 
-------------------------------- */
@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries
@import 'partials/colors';
@import 'partials/typography';
@import 'partials/navigation';
@import 'partials/rocket';

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Lato:wght@400&family=Roboto+Slab&family=Satisfy&display=swap');
// fonts

// svgs and design elements
header {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjAwJyBoZWlnaHQ9JzYwMCcgdmlld0JveD0nMCAwIDE1MCAxNTAnPgo8ZmlsdGVyIGlkPSdpJyB4PScwJyB5PScwJz4KCTxmZUNvbG9yTWF0cml4IHR5cGU9J21hdHJpeCcgdmFsdWVzPScxIDAgMCAwIDAgIDAgMSAwIDAgMCAgMCAwIDEgMCAwICAwIDAgMCAwIDAnIC8+CjwvZmlsdGVyPgo8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCTxmZVR1cmJ1bGVuY2UgdHlwZT0ndHVyYnVsZW5jZScgYmFzZUZyZXF1ZW5jeT0nLjcnIHJlc3VsdD0nZnV6eicgbnVtT2N0YXZlcz0nMicgc3RpdGNoVGlsZXM9J3N0aXRjaCcvPgoJPGZlQ29tcG9zaXRlIGluPSdTb3VyY2VHcmFwaGljJyBpbjI9J2Z1enonIG9wZXJhdG9yPSdhcml0aG1ldGljJyBrMT0nMCcgazI9JzEnIGszPSctNzMnIGs0PScuMDEnIC8+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjMDMwMzFhJy8+CjxyZWN0IHg9Jy0xJScgeT0nLTElJyB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjZmZmZmZmJyBmaWx0ZXI9J3VybCgjbiknIG9wYWNpdHk9JzEnLz4KPHJlY3QgeD0nLTElJyB5PSctMSUnIHdpZHRoPScxMDIlJyBoZWlnaHQ9JzEwMiUnIGZpbGw9JyMwMzAzMWEnIGZpbHRlcj0ndXJsKCNpKScgb3BhY2l0eT0nMScvPgo8L3N2Zz4=');
}

header:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30em;
    display: inline-block;
    background: -moz-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(220, 66, 37, 0.5)), color-stop(100%, rgba(0, 47, 75, 0.5)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002f4b', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

.extra1 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color-6;
    box-shadow:
        0 0 30px 10px $color-6,
        /* inner white */
        0 0 50px 30px $stars-2,
        /* middle magenta */
        0 0 70px 40px $stars-1;
    /* outer cyan */
    animation: animStar 10s ease-out 10s 20;
}

.extra2 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color-6;
    box-shadow:
        0 0 30px 10px $color-6,
        /* inner white */
        0 0 50px 30px $stars-2,
        /* middle magenta */
        0 0 70px 40px $stars-1;
    /* outer cyan */
    animation: animStar 20s ease-out 20s 20 alternate-reverse;
}

@keyframes animStar {
    30% {
        transform: translateX(100vw) translateY(20em);
        opacity: 0;
    }

    100% {
        transform: translateX(100vw) translateY(20em);
        opacity: 0;
    }
}

.extra3 {
    background: url(images/astronaut.svg) bottom right no-repeat;
    display: block;
    width: 30em;
    height: 30em;
    margin-top: -18em;
    margin-left: 20%;

    @include MQ(M) {
        margin-left: 40%;
    }

    @include MQ(L) {
        margin-left: 30%;
    }

    @include MQ(Lb) {
        margin-left: 0%;

        &:hover {
            transform: translateX(30vw);
        }

        &:hover::before {
            content: '6 FEET AWAY, PLEASE';
            color: $color-3;
        }
    }
}

@keyframes animAstro {
    30% {
        transform: translateX(30vw);
        opacity: 1;
    }

    100% {
        transform: translateX(30vw);
        opacity: 1;
    }
}