$color-1: #260235; // violet
$color-2: #0D2867; // royal blue
$color-3: #D40027; // Fire engine Red
$color-4: #000000; // black
$color-5: #EFEFEF; // grey
$color-6: #FFFFFF; // white


// additional colors

$success: #6fce72; // green
$alert: $color-3; // red

